<app-menu></app-menu>
<div>
    <div>
        <span>Request in Review</span>
    </div>
    <table class="table table-sm">
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Rejection Reason</th>
            <th>Status</th>
            <th>Total</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor = "let request of requests">
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td>{{request.rejectionReason}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total | currency}}</td>
            <td>{{request.user.userName}}</td>
            <td>
                <a routerLink="/requestline/list-review/{{request.id}}">Review</a> 
            </td>
        </tr>
        </table>
</div>